body{
    box-sizing: border-box;
    overflow: scroll;
}

.site-banner {
    text-align: center;
    border-bottom: 1px blue solid;
    background-color: #17b87e;
    max-width: 60%;

}

#briefIcon,
#initialIcon,
.wireframeIcon,
.designIcon,
.codeIcon,
.trainingIcon,
.launchIcon {
    display: none;
}

#step1Container,
#step2Container,
#step3Container {
    text-align: center;
}
#step1Title {
    text-align: center;
    color: gray;
    /* border-bottom: gray 1px solid; */
    margin-bottom: 5%;
    margin-top: 10%;
    width: 90%;
    margin-left: 5%;
    padding-bottom: 5%;
}

.step1TitleDescription{
    color: black;
    
}

.footerLinks{
    display: flex;
    justify-content: right;
}

#ctaButton{
    border-radius: 25%;
}


 @media(min-width: 600px)   {
    #stepContainer{
        margin-left: 2%;
        margin-right: 2%;
    }

    #step1Container {
        display: grid;
        grid-template-rows: 50px .5fr 1fr 1fr;
        grid-template-columns: 25% 1fr;
        grid-gap: 10px;
    }

    #step1Title{
        grid-column: 1 / -1 ;
        grid-row: 1 / -1;
        margin-left: 5%;
        color: gray;
        /* border-bottom: solid 1px gray; */
    }

    .step1TitleDescription{
        color: black;
        border-bottom: solid 1px gray;
    
    }

    #briefIcon {
        color: blue;
        display: initial;
        grid-row: 3/3;
        grid-column: 1/1;
        padding:20%;
        border: 1px gray solid;
        background-color: #E9ECEF;
    }

    #briefWriteUp{
        
        width: 100%;
        grid-row: 3/6;
        grid-column: 2/2;
        padding-bottom: 5%;
    }


    #initialIcon {
        display: initial;
        grid-row: 4/4;
        grid-column: 1/1;
        padding:20%;
        border: 1px gray solid;
        background-color: #E9ECEF;
    }

    .initialWriteUp {
        padding-top: 5%;
        width: 100%;
        grid-row: 4/4;
        grid-column: 2/2;
        
    }

    #step2Container{
        display: grid;
        grid-template-columns: 1fr 25%;
        grid-template-rows: 45px 100px 1fr 1fr;
        grid-gap: 10px;

    }

    #step2Title {
        grid-column: 1 /2  ;
        grid-row: 2 / 3;
        margin-left: 5%;
    
        color: gray;
    }

    .wireframeWriteUp{
        grid-row: 3/3;
        grid-column: 2/1;
    }

    .designWriteUp {
        grid-row: 4/4 ;
        grid-column: 1 / 2;
    }
    .wireframeIcon{
        display: initial;
        grid-row: 3/3;
        grid-column: 2/2;
        padding:20%;
        border: 1px gray solid;
        background-color: #E9ECEF;
    }
    .designIcon{
        display: initial;
        grid-row: 4/4;
        grid-column: 2/2;
        padding:20%;
        border: 1px gray solid;
        background-color: #E9ECEF;
    }

    #step3Container{
        display: grid;
        grid-template-columns: 25% 1fr;
        grid-template-rows: 45px 70px 1fr 1fr 1fr;
        grid-gap: 10px;
    }
    .codeWriteUp{
        grid-row: 3 / 3;
        grid-column: 2/2;
    }
    .trainingWriteUp{
        grid-row: 4 / 4;
        grid-column: 2/2;
    }
    .launchWriteUp{
        grid-row: 5 / 5;
        grid-column: 2/2;
        margin-bottom: 10%;
    }
    .codeIcon{
        display: initial;
        grid-row: 3/3;
        grid-column: 1/1;
        padding:20%;
        border: 1px gray solid;
        background-color: #E9ECEF;
    }
    .trainingIcon{
        display: initial;
        grid-row: 4/4;
        grid-column: 1/1;
        padding:20%;
        border: 1px gray solid;
        background-color: #E9ECEF;
    }
    .launchIcon{
        display: initial;
        grid-row: 5/5;
        grid-column: 1/1;
        padding:20%;
        border: 1px gray solid;
        background-color: #E9ECEF;
        margin-bottom: 10%;
    }

}
@media(min-width: 850px ) {
    #stepContainer{
        max-width: 60%;
        margin: auto;
    }

    #step1Container,
    #step2Container,
    #step3Container{
        grid-gap:25px;
    }    
}